Repository plone/plone.namedfile, pull requests merged in 2020-04, with the labels that each got.

#88 Fix unclosed file error
  news/89.bugfix
  plone/namedfile/scaling.py
Labels: 01 type: bug, 13 prio: normal, 32 needs: review

#91 Change to use field value _p_mtime instead of context object _p_mtime…
  news/91.feature
  plone/namedfile/scaling.py
  plone/namedfile/tests/test_scaling.py
Labels: 04 type: enhancement, 13 prio: normal, 24 status: ready, 32 needs: review, 41 lvl: easy, 52 target: minor, 99 tag: Plone 5.x

#92 Fix image scaling to return the originals when no scaling is required
  news/92.bugfix
  plone/namedfile/scaling.py
  plone/namedfile/tests/test_scaling.py
Labels: 01 type: bug, 13 prio: normal, 24 status: ready, 32 needs: review, 41 lvl: easy, 51 target: patch, 99 tag: Plone 5.x
